* {
  /*margin : 0;*/
}
body {
  font-family: "Microsoft Yahei", "Arial", serif;
  color: #333;
  background-color: #ccc;

}
h1 {
  color: #333;
  background-color: :transparent;
}
a {
  color: #c60;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}
ul {
  padding :0;
  width :100%;
  overflow: auto;
}
li{
  float: left;
  padding: 1em;
  list-style-type: none;
}
#imageGallery {
  list-style: none;
}
#imageGallery li {
  display: inline;
}
#imageGallery li a img {
  border: 0;
  width: 48px;
  height: 76px;
}
#placeholder {
  max-width: 500px;
  max-height: 500px;
}